@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f5f5f5;
}

h2{
  color:#8a8a8a;
  font-size:medium;
}
.btn{
    margin: 20px auto !important;
}

form {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin: 50px 20px; /* Centering with margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #ddd; /* Light border */
}
   

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

textarea{
  height: 200px;
}
input::placeholder{
  color:#8a8a8a;
  font-size:small;
  font-weight: lighter;
  text-align: left;
}

.button{
  width: 112px;
  height: 37px;
  border-radius:19px ;
  background-clip: padding-box;
  background-color: #01497B;
  border:1px solid #01497B;
  border:none;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
 
}

.button:hover,.editBtn:hover,.deleteBtn:hover{background-color: #fff; border:1px solid #01497B; color:#01497B; cursor:pointer;}



input:focus, .editBtn:focus, .deleteBtn:focus, button:focus{
        outline: 2px solid #195F85; /* Change outline color */
        border-color: #195F85; /* Change border color */
        box-shadow: 0 0 8px rgba(23, 162, 184, 0.6); /* Add glow effect */
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 100vh;
    }

.wrapper{
   max-width: 40%;
   height: 100vh;
   display: flex;
   justify-content:center;   
   flex: 1;
   padding: 10px;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
   flex: 2; /* Takes 70% of space */
   display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
    

  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-purple {
    background-color: #5e76bf;
  }

  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }


  .user-info small {
    color: #fff;
  }

  .user-info small:hover{
    color:#01497B ;
  }
.editBtn{  
  cursor: pointer;
  background-color: #01497B;
  border: none;
  border-radius: 12px;
}

.deleteBtn{
  cursor: pointer;
  background-color: #01497B;
  border: none;
  border-radius: 12px;}

  .userCard{
   visibility: hidden;
  }
  